<header>
    <nav>
        <a href="/">Home</a>
        <% if (!username) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <% } else { %>
        <a href="/logout">Logout</a>
        <% } %>
    </nav>
</header>