<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
</head>
<body>
    <form action="/auth" method="post">
        <label>Username: <input type="text" name="username" /></label>
    </form>
</body>
</html>