<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chats</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include('header'); -%>
    <main>
        <h1>Chats</h1>
        <p>Welcome :3</p>
    </main>
</body>
</html>