<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= t('websiteTitle') %></title>
    <link rel="icon" type="image/png" href="img/logo.png" />
    <%- include('partials/common'); -%>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include('partials/header'); -%>
    <main>
        <h1>OpenChats</h1>
    </main>
</body>
</html>