<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chats | Register</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    <%- include('header'); -%>
    <main>
        <h1>Login</h1>
        <form id="login-form">
            <label>Username: <input type="text" name="username" required /></label>
            <label>Password: <input type="text" name="password" required /></label>
            <input type="submit" value="Login">
        </form>
        <img src="img/felix.gif" width="200" height="200" alt="Felix">
    </main>
</body>
</html>