<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chats</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <%- include('header'); -%>
        <main>
            <img src="<%= user.avatarUrl || 'img/defaultAvatar.png' %>" alt="User avatar" width="70" height="70">
            <p>Username: <%= user.username %>
            </p>
            <form action="/api/users/aa/avatar" method="post" enctype="multipart/form-data">
                <input type="file" name="image" accept="image/*" />
                <button type="submit">Upload avatar</button>
            </form>
        </main>
</body>

</html>