<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chats | Register</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    <%- include('header'); -%>
    <main>
        <h1>Register</h1>
        <form id="register-form">
            <label>Username: <input type="text" name="username" required /></label>
            <label>Password: <input type="text" name="password" required /></label>
            <label>Repeat password: <input type="text" name="repeat-password" required /></label>
            <input type="submit" value="Register">
        </form>
        <img src="img/astolfo.gif" width="200" height="200" alt="Astolfo">
    </main>
</body>
</html>