main {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%;
}

main .side-panel {
    display: grid;
    grid-auto-rows: 50px;
    border-right: solid 1px white;
}

main .side-panel .tab-link {
    display: flex;
    box-sizing: border-box;
    padding-left: 30px;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px white;
}

main .side-panel .tab-link a {
    text-decoration: none;
}

main .side-panel .tab-link a:hover {
    text-decoration: underline;
}

main .tab-content {
    padding: 20px;
}

main .tab-content .users {
    overflow-y: scroll;
}