/* generic */
.invisible {
    visibility: hidden !important;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%;
    overflow: hidden;
}

/* chat list */
.side-panel {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    border-right: solid 1px white;
}

#chat-list {
    width: 100%;
    height: 100%;
    display: grid;
    overflow-y: auto;
    grid-auto-rows: 50px;
}

#chat-list .list-item {
    display: flex;
    box-sizing: border-box;
    padding-left: 30px;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px white;
}

#chat-list .list-item a {
    text-decoration: none;
}

#chat-list .list-item a:hover {
    text-decoration: underline;
}

.blocked {
    color: rgb(255, 107, 107);
}

.admin {
    color: rgb(255, 159, 255);
}

.moderator {
    color: rgb(255, 211, 218);
}

.user-info {
    box-sizing: border-box;
    min-height: 64px;
    max-height: 64px;
    border-top: 1px solid white;
    padding: 0 20px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    text-decoration: none;
}

.user-info:hover {
    text-decoration: underline;
}

.user-info p {
    overflow-wrap: break-word;
    word-break: break-word;
}

.user-info img {
    height: 48px;
    border-radius: 100%;
    border: 1.5px solid white;
}

/* main-content */
#main-content {
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

/* messages */
#message-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
    overflow-x: hidden;
}

.message {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 48px 1fr auto;
    padding: 8px 16px;
    border-top: 1px solid white;
}

.message:first-child {
    border-top: none;
}

.message .avatar-container {
    width: 48px;
    height: 48px;
}

.message .avatar-container img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1.5px solid white;
}

.message .username-text-container {
    flex: 1;
    padding-left: 16px;
}

.username-text-container .msg-text {
    overflow-wrap: break-word;
    word-break: break-word;
}

/* deleting messages */
.delete-btn {
    all: unset;
    opacity: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.delete-btn img {
   height: 100%;
   width: 100%;
}

.username {
    width: fit-content;
}

.hover-underline {
    cursor: pointer;
}

.hover-underline:hover {
    text-decoration: underline;
}

.message:hover .delete-btn {
    opacity: 1;
}

/* message input */
.msg-textarea-container {
    width: 100%;
    min-height: 64px;
    max-height: 64px;
    box-sizing: border-box;
    border-top: 1px solid white;
    padding:  10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
}

#msg-send-button {
    all: unset;
    height: 40px;
}

#msg-send-button img {
    height: 100%;
}

#msg-textarea {
    all: unset;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}