main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

main p {
    font-size: 20px;
}

main img {
    border: 1px solid white;
}