main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    column-gap: 50px;
}

main #avatar {
    border: 1px solid white;
    border-radius: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.profile h2 {
    text-align: center;
}

.avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 20px;
}

.avatar-btns {
    padding: 10px 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    user-select: none;
}

.user-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 16px;
}

.user-info-btns {
    column-gap: 20px;
    display: flex;
    justify-content: space-between;
}

#avatar-error {
    text-align: center;
}

#avatar-file-input {
     display: none;
}