<h2><%= t('adminPage.tabs.chats.title') %></h2>
<div class="chats" id="chats-scroll">
    <div id="chats-container">
    </div>
    <div class="loader" id="loader"><%= t('adminPage.loading') %></div>
</div>