<h2><%= t('adminPage.tabs.users.title') %></h2>
<div class="users" id="users-scroll">
    <div id="users-container">
    </div>
    <div class="loader" id="loader"><%= t('adminPage.loading') %></div>
</div>