.users {
    flex: 1;
    margin-top: 10px;
    overflow-y: auto;
    height: 100%;
}

.users .user {
    padding: 8px 16px;
    border: 1px solid white;
    width: 100%;
    display: grid;
    grid-template-columns: 64px 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

.users .user:not(:first-child) {
    border-top: 0;
}

.users .user img {
    height: 48px;
    min-height: 100%;
    border-radius: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    border: 1.5px solid white;
}

.users .user p {
    font-size: 16px;
}

.users .user select {
    padding: 5px;
    width: min-content;
    justify-self: center;

}

.users .user .primary-btn {
    justify-self: flex-end;
    width: auto;
}

.users .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}